{% extends "base.html" %}
{% block content %}
    {{ form.hidden_tag() }}
    <div>
    <form>
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.notes.label(class="form-control-label") }}
            {{ form.notes(class="form-control form-control-lg") }}
        </div>
    </fieldset>
    <div class="form-group">
            {{ form.submit(class="btn btn-sm btn-outline-info")}}
        </div>        
        </button>
    </form>
    </div>
{% endblock content %}
