{% extends "base.html" %}
{% block content %}
         <article class="media content-section border-top">
            <div class="media-body">
                <div class="article-metadata">
                    <h3 class="article-title">{{ note.title }}</h3>
                    <small class="text-muted">{{ note.date_created.strftime('%Y-%m-%d') }}</small>
                    <p class="article-content">{{ note.content }}</p>
                </div>
            </div>
            
         </article>
{% endblock content %}

            